@model List<JobPosting>

@{
    ViewData["Title"] = "Deine Inserate";
}

<a class="btn btn-primary" asp-controller="JobPosting" asp-action="CreateEditJobPosting">
    Neues Inserat anlegen
</a>

<hr />

<table id="jobPostingTable" class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Job Titel</th>
            <th>Ort</th>
            <th>Firmenname</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (JobPosting jobPosting in Model)
            {
                <tr>
                    <td>@jobPosting.JobTitle</td>
                    <td>@jobPosting.JobLocation</td>
                    <td>@jobPosting.CompanyName</td>
                    <td>
                        <a class="btn btn-warning" asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="CreateEditJobPosting">Edit</a>
                        <a class="btn btn-danger" asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="DeleteJobPosting">Löschen</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        let table = new DataTable('#jobPostingTable');
    </script>
}