@model List<JobPosting>

@{
    ViewData["Title"] = "Deine Inserate";
}

<a class="btn btn-primary" asp-controller="JobPosting" asp-action="CreateEditJobPosting">
    Neues Inserat anlegen
</a>

<hr />

<table id="jobPostingTable" class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Job Titel</th>
            <th>Ort</th>
            <th>Firmenname</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (JobPosting jobPosting in Model)
            {
                <tr>
                    <td>@jobPosting.JobTitle</td>
                    <td>@jobPosting.JobLocation</td>
                    <td>@jobPosting.CompanyName</td>
                    <td>
                        <a class="btn btn-warning" asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="CreateEditJobPosting">Edit</a>
                        <button onclick="onClickedDeleteButton(@jobPosting.Id)" class="btn btn-danger">Löschen</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        // initialize DataTables
        let table = new DataTable('#jobPostingTable');

        // SweetAlert2
        function onClickedDeleteButton(id) {
            Swal.fire({
                title: "Möchtest du das Inserat wirklich löschen?",
                icon: "error",
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText: `Ja, löschen.`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    // Backend call to delete job posting by id
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteJobPostingById")",
                        data: { id: id },
                        success: function (msg) {
                            Swal.fire("Erfolgreich entfernt.", "", "success").then((result) => {
                                if (result.isConfirmed) {
                                    location.reload();
                                }
                            });

                        },
                        error: function (msg) {
                            Swal.fire("Ups, etwas ist schief gelaufen.", "", "error");
                        }
                    });
                }
            });
        }
    </script>
}